.search , .sorting select{
    padding: 7px 15px;
    border: 1px solid #fde4e4;
    border-radius: 5px;
    cursor: pointer;
}
.search input{
    border: none;
}
.search input:focus{
    outline: none;
}
.img_item{
    cursor: pointer;
}
.related_product-title{
    font-size: 1.3rem;
}
@media only screen and (max-width:768px){
    .product_title{
        font-size: 1.2rem;
    }
    
      .product_price,
      .product_price span {
        font-size: 1rem;
      }
      .category,
      .category span {
        font-size: 0.8rem !important;
      }
     .tabs{
        margin-top: 30px;
     }
     .tabs h6{
        font-size: .9rem;
     }
    
}