.footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background: #fde4e4;
    display: flex;
    text-align: start;
    justify-content: center;
    gap: 8rem;
    align-items: center;
  }
  
  .footer_logo img {
    width: calc(100% - 70%);
    margin-bottom: 1.5rem;
  }
  
  .footer_logo h5 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 15px ;
    padding-top: 25px;
  }
  
  .footer_logo p {
    font-size: 0.9rem;
    color: #333;
    line-height: 28px;
  }
  .delivery_time-list{
    background: transparent;
    
  }
 
  .delivery_time-item {
    display: flex;
    flex-direction: column;
    margin: 0; 
    background: transparent !important;
    line-height: 22px;
     
  }
  
  .delivery_time-item span {
    font-weight: 600;
    color: #212245;
   
  }
  
  .delivery_time-item p {
    color: #212245;
    padding-top: 30px;
    line-height: 0px;
  }
  
  .footer_title {
    font-size: 1.1rem;
    color: #212245;
    font-weight: 600;
    
  }
  .newsletter{
    border: 1px solid #212245;
    border-radius: 5px;
    padding: 7px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .newsletter input{
  background: transparent;
  border: none;
  outline: none;
  }
  .newsletter input:focus{
    outline: none;
  }
  .newsletter span{
    padding: 5px 30px;
    background: #df2020;
    border-radius: 5px;
  }
  .newsletter span i{
    color: #fff;
  }
  .social_links a{
     text-decoration: none;
      
  }
  .social_links i{
    color: #fff;
    background-color: #df2020;
    padding: 5px;
    border-radius: 50%;
  }
  .copyright_text{
    color: #df2020;
    font-size: 0.8rem;
  }
  @media only screen and (max-width: 992px){
    .newsletter input{
      padding: 10px 7px;
      font-size: .7rem;
    }
    .newsletter span{
      padding:4px 20px ;
      font-size: .2rem;
    }

  }
  @media only screen and (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
    }
  
    .footer_logo img {
      width: calc(100% - 85%);
    }
  
    .footer_title {
      font-size: 0.9rem;
    }
  
    .delivery_time-item span {
      font-size: 0.8rem;
    }
  
    .delivery_time-item p {
      font-size: 0.7rem;
      margin-bottom: 0;
    }
    .newsletter input{
      padding: 10px 7px;
      font-size: .7rem;
    }
    .newsletter span{
      padding:4px 20px ;
      font-size: .7rem;
    }
  }
  @media only screen and (max-width: 576px){
    .social_links{
      justify-content: center;

    }
    .social_links p{
      font-size: .8rem;
    }
    .social_links span{
       padding: 4px;
    }
    .social_links span a{
       font-size: .7rem;
    }
    .copyright_text{
      text-align: center;
    }
    .footer_logo  {
     
      padding: 20px 0px;
    }
    
    .footer_logo h5 {
      font-weight: 600;
      font-size: 1rem;
       padding-top: 30px ;
    }
  }